[Desktop Entry]
Type=Application
Version=1.0
Name=Audalis
GenericName=Audio control
Comment=Audio control for Linux
Exec=/home/m_frost/.local/bin/audalis
Icon=audalis
Terminal=false
Categories=AudioVideo;Audio;
Keywords=sound;audio;volume;headset;microphone;balance;boost;
StartupNotify=true
StartupWMClass=audalis